/*
 Theme Name:   Twenty Seventeen Child
 Description:  Twenty Seventeen brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
 Author:       themightymo
 Template:     twentyseventeen
 Version:      1.2.3
*/

div.entry-content {
    float: none !important;
    width: 100% !important;
}
#gform_wrapper_2, #gform_wrapper_1, #gform_wrapper_3 {
    max-width: 414px;
}
#gform_wrapper_1 label, #gform_wrapper_2 label, #gform_wrapper_3 label {
    float: left;
    margin-bottom: 0;
    line-height: 2.3em;
    width: 68%;
    color: #fff;
}
#gform_wrapper_1 .gfield, #gform_wrapper_2 .gfield {
    margin-right: 0;
    background-color: #4eb56e;
    overflow: auto;
    padding: 8px 16px;
}
#gform_wrapper_1 .ginput_container_number, #gform_wrapper_2 .ginput_container_number, #gform_wrapper_3 .ginput_container_number {
    float: right;
    width: 30%;
    margin-top: 0;
}
#field_2_7 > div.gfield_description, #field_1_4 > div.gfield_description {
    padding-left: 16px;
    margin-left: 0;
    width: 100%;
    color: #fff;
}
#field_2_3 > div > div.instruction {
    display: none;
}
#gform_submit_button_1, #gform_submit_button_2 {
    background-color: #4b8e5f !important;
}
#gform_wrapper_1 input, #gform_wrapper_2 input {
    margin-bottom: 0;
    width: 100%;
    background-color: #71cf8e;
    border: none;
}
#input_2_2, #input_2_4, #input_2_6, #input_1_3 {
    background-color: #4eb56e !important;
    border: 1px solid #d3c4e0 !important;
    color: #fff;
}
#field_2_8, #field_1_5 {
    background-color: #4b8e5f !important;
}
#gform_wrapper_1 h2.gsection_title, #gform_wrapper_2 h2.gsection_title {
    color: #fff;
    font-weight: 200;
}

/*Profit form styles*/
#field_3_7, #field_3_8, #field_3_3 {
    margin-right: 0;
    background-color: #4cb46c;
    overflow: auto;
    padding: 8px 16px;
}

#field_3_9 {
    margin-right: 0;
    background-color: #4a8e5e;
    overflow: auto;
    padding: 8px 16px;
    border-bottom: none !important;
    text-align: center;
}

#field_3_9 h2.gsection_title {
    color: #fff;
}

#field_3_10{
    margin-right: 0;
    background-color: #ffffff;
    overflow: auto;
    padding: 8px 16px;
    border-bottom: none !important;
    text-align: center;
}

#field_3_11{
    margin-top: 0;
}

#field_3_10 h2.gsection_title {
    color: #604a1e;
}

#field_3_12, #field_3_13, #field_3_6{
    margin-right: 0;
    background-color: #c09509;
    overflow: auto;
    padding: 8px 16px;
}

#field_3_14, #field_3_15{
    margin-right: 0;
    background-color: #604a1e;
    overflow: auto;
    padding: 8px 16px;
}

#gform_wrapper_3 input {
    margin-bottom: 0;
    width: 100%;
    border: none;
    color: #000000 !important;
}
#input_3_7, #input_3_8, #input_3_3{
    background-color: #d2eadc;
}

#input_3_12, #input_3_13, #input_3_6{
    background-color: #eedcb8;
}

#input_3_14, #input_3_15{
    background-color: #d8c7b3;
}

#input_3_2{
    display: none !important;
}

#gform_wrapper_3 label {
    font-weight: 200;
}